/* Estilo del fondo animado */
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #384dc4;
    overflow: hidden;
    z-index: -30;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 39;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #340aa9;
    top: 45%;
    left: 31%;
    animation-duration: 55s;
    animation-delay: -50s;
    transform-origin: -21vw 8vh;
    box-shadow: 40vmin 0 5.588869111474718vmin currentColor;
}
.background span:nth-child(1) {
    color: #340aa9;
    top: 62%;
    left: 19%;
    animation-duration: 102s;
    animation-delay: -17s;
    transform-origin: -12vw -17vh;
    box-shadow: -40vmin 0 5.804661114152639vmin currentColor;
}
.background span:nth-child(2) {
    color: #340aa9;
    top: 95%;
    left: 27%;
    animation-duration: 52s;
    animation-delay: -108s;
    transform-origin: 25vw -17vh;
    box-shadow: -40vmin 0 5.495150882433769vmin currentColor;
}
.background span:nth-child(3) {
    color: #340aa9;
    top: 70%;
    left: 73%;
    animation-duration: 62s;
    animation-delay: -77s;
    transform-origin: -16vw -8vh;
    box-shadow: 40vmin 0 5.088308266237483vmin currentColor;
}
.background span:nth-child(4) {
    color: #583C87;
    top: 86%;
    left: 94%;
    animation-duration: 76s;
    animation-delay: -98s;
    transform-origin: -6vw -6vh;
    box-shadow: 40vmin 0 5.933353534304396vmin currentColor;
}
.background span:nth-child(5) {
    color: #340aa9;
    top: 27%;
    left: 26%;
    animation-duration: 35s;
    animation-delay: -23s;
    transform-origin: 15vw 19vh;
    box-shadow: -40vmin 0 5.883805129802297vmin currentColor;
}
.background span:nth-child(6) {
    color: #281877;
    top: 83%;
    left: 50%;
    animation-duration: 72s;
    animation-delay: -77s;
    transform-origin: -5vw 20vh;
    box-shadow: 40vmin 0 5.3263827371172985vmin currentColor;
}
.background span:nth-child(7) {
    color: #340aa9;
    top: 32%;
    left: 74%;
    animation-duration: 8s;
    animation-delay: -20s;
    transform-origin: -21vw 6vh;
    box-shadow: 40vmin 0 5.074690520973968vmin currentColor;
}
.background span:nth-child(8) {
    color: #340aa9;
    top: 78%;
    left: 8%;
    animation-duration: 85s;
    animation-delay: -70s;
    transform-origin: 10vw -13vh;
    box-shadow: 40vmin 0 5.5663513057580705vmin currentColor;
}
.background span:nth-child(9) {
    color: #340aa9;
    top: 82%;
    left: 17%;
    animation-duration: 66s;
    animation-delay: -105s;
    transform-origin: -20vw -1vh;
    box-shadow: 40vmin 0 5.738905413550087vmin currentColor;
}
.background span:nth-child(10) {
    color: #281877;
    top: 79%;
    left: 50%;
    animation-duration: 62s;
    animation-delay: -7s;
    transform-origin: -14vw 19vh;
    box-shadow: -40vmin 0 5.741447974284402vmin currentColor;
}
.background span:nth-child(11) {
    color: #281877;
    top: 74%;
    left: 57%;
    animation-duration: 97s;
    animation-delay: -103s;
    transform-origin: -20vw 16vh;
    box-shadow: -40vmin 0 5.325170231423471vmin currentColor;
}
.background span:nth-child(12) {
    color: #340aa9;
    top: 77%;
    left: 45%;
    animation-duration: 81s;
    animation-delay: -106s;
    transform-origin: -9vw -23vh;
    box-shadow: 40vmin 0 5.992924766841093vmin currentColor;
}
.background span:nth-child(13) {
    color: #583C87;
    top: 92%;
    left: 56%;
    animation-duration: 113s;
    animation-delay: -9s;
    transform-origin: 18vw 24vh;
    box-shadow: -40vmin 0 5.223845970328844vmin currentColor;
}
.background span:nth-child(14) {
    color: #281877;
    top: 90%;
    left: 48%;
    animation-duration: 70s;
    animation-delay: -59s;
    transform-origin: -22vw -24vh;
    box-shadow: -40vmin 0 5.626669128255154vmin currentColor;
}
.background span:nth-child(15) {
    color: #340aa9;
    top: 8%;
    left: 17%;
    animation-duration: 93s;
    animation-delay: -20s;
    transform-origin: 1vw -3vh;
    box-shadow: 40vmin 0 5.127673721466422vmin currentColor;
}
.background span:nth-child(16) {
    color: #583C87;
    top: 9%;
    left: 71%;
    animation-duration: 8s;
    animation-delay: -64s;
    transform-origin: -12vw 24vh;
    box-shadow: 40vmin 0 5.595843829842576vmin currentColor;
}
.background span:nth-child(17) {
    color: #281877;
    top: 91%;
    left: 56%;
    animation-duration: 104s;
    animation-delay: -48s;
    transform-origin: 22vw 6vh;
    box-shadow: 40vmin 0 5.804055540784686vmin currentColor;
}
.background span:nth-child(18) {
    color: #281877;
    top: 48%;
    left: 2%;
    animation-duration: 31s;
    animation-delay: -25s;
    transform-origin: -12vw -13vh;
    box-shadow: 40vmin 0 5.6025496271083295vmin currentColor;
}
