.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #101c3f;
  color: white;
  z-index: 1000;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.hamburger {
  font-size: 1.5rem;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

/* Ocultar el menú por defecto */
.nav-links {
  display: flex;               /* Mostrar como flex */
  flex-direction: column;      /* En columna (uno debajo del otro) */
  align-items: flex-start;     /* Alineación izquierda */
  background-color: #3f3b5a;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 1rem;
  transition: max-height 0.3s ease, opacity 0.5s ease;
}

.nav-links.activo {
  max-height: 500px;
  opacity: 1;
  padding: 1rem;
}

.nav-links a {
  display: block;              /* Asegura que cada link ocupe toda una línea */
  color: white;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 0.5rem;
}


.nav-links a:hover {
  text-decoration: underline;
}

h2 {
    font-size: 30px;
}